*{
    /*space inside element between content and border*/
    padding: 0;
    /*space outside element between content and border*/
    margin: 0;
    /*removes the styling eg.bulletpoints on lists*/
    list-style: none;
    /*removes the text deco like underlines on links*/
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

/*------------------------------------------------BODY----------------------------------------------------------------*/
body{
    font-family: "Archivo Black", sans-serif;
    /*so that all the elements of body are in a column eg. nav, then main, then finally footer*/
    display: flex;
    flex-direction: column;
    /*minimum height of the body is the full viewport length, so that the absolute bottom of the page will be the footer*/
    min-height: 100vh;
    /*default page colours are black*/
    background: #000000;
}

/*customising scrollbar at the right side of the tab*/
body::-webkit-scrollbar{
    width: 5px;
}
body::-webkit-scrollbar-track{
    background: black;
}
body::-webkit-scrollbar-thumb{
    background: #6649b8
}


/*------------------------------------------------NAV----------------------------------------------------------------*/
nav{
    /*when the person scrolls down, the menu stays on top for easy access*/
    position:fixed;
    z-index: 1000;
    /*background colour of nav bar*/
    background: #1a1e2f;
    /*height of the nav bar*/
    height: 81px;
    /*full width of the page*/
    width: 100%;
    /*center the text*/
    text-align: center;
    box-shadow: 3px, 3px, 5px, rgb(34, 70, 178);
}

nav ul li{
    /*make everything appear on the same line, while being able to add spacing*/
    display: inline-block;
}

nav ul li a{
    /*change text colour to white*/
    color: #ffffff;
    /*change width to spread out the text*/
    width: 200px;
    /*change display mode so that the width of the whole anchor can be changed including padding*/
    display: block;
    /*add padding*/
    padding: 30px 20px;
    /*increase font size*/
    font-size: 20px;
    /*center the text so it is equal spacing*/
    text-align: center;
}

nav ul li a:hover{
    /*when hovered over, put a nice glow over the text. this works by using 6 shadows with increasing blur each time, making it seem like neon*/
    text-shadow: 0 0 10px #ffffff,
                 0 0 20px #ffffff,
                 0 0 40px #ffffff,
                 0 0 80px #ffffff,
                 0 0 120px #ffffff,
                 0 0 160px #ffffff;
    /*transition into the background colour for it to be smoother*/
    transition: 0.5s;
    /*increase letter spacing when hovered over for a cool effect*/
    letter-spacing: 3px;
    /*make the text go up a little when hovered over*/
    transform: translateY(-5px);
    
}

/*MOBILE RESPONSIVE DESIGN FOR THE NAVIGATION*/
.sidebar{
    min-height: 100%;
    /*ensures element is in the same place and does not move when scrolled down*/
    position: fixed;
    /*make sidebar at the top left*/
    top: 0;
    left: 0;
    width: 250px;
    /*determines the stacking property of elements, this sidebar will be on top everything else so it is 999*/
    z-index: 999;
    background-color: #1a1e2fa9;
    /*ensure it is a column*/
    display: none;
    flex-direction: column;
    /*position from top of page*/
    align-items: flex-start;
    justify-content: flex-start;
    /*apply blur filter to items behind the sidebar*/
    backdrop-filter: blur(10px);
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    text-align: left;
    width: 100%;
}

/*do not display hamburger menu on desktop because there is no need*/
.menubutton{
    display:none;
}

/*------------------------------------------------MAIN HOME----------------------------------------------------------------*/
.home{
    background: #000000;
    flex-grow: 1;
    overflow: hidden;
}

.page1-home{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

/*this is the top image of harry styles*/
.page1-home img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page1-home .hometextcontainer{
    /*dont want position to change so it is absolute*/
    position: absolute;
    align-self: center;
    /*ensure the text stays on the same line*/
    white-space: nowrap;
}

.hometextcontainer h1{
    /*set nice effects and font size*/
    color: whitesmoke;
    font-size: 7vw;
    text-shadow: 0 0 10px #ffffff,
                 0 0 20px #ff00ff,
                 0 0 40px #7700b3,
                 0 0 80px #5500ff,
                 0 0 120px #ffffff;
}

/*video part of homepage*/
.page2-home{
    /*this video should be the lowest layer*/
    z-index: -1;
    /*put the video in the center of page*/
    display: flex;
    justify-content: center;
}

.page2-home video{
    min-height: 100vh;
}

.page2-homepicture{ 
    /*put in the middle of the video*/
    align-self: center;
    position: absolute;
    width: 350px;
    /*make sure it is on top*/
    z-index: 999;
}

.page2-hometext{
    color: #ffffff;
    position: absolute;
    align-self: flex-end;
    transform: translateY(-120px);
    font-size: 3vw;
    color: #fcc95a;
    letter-spacing: 1px;
    text-shadow: 2px 0 #8e4a11, -2px 0 #8e4a11,0 -2px #8e4a11, 1px 1px #8e4a11, -1px -1px #8e4a11, 1px -1px #8e4a11, -1px 1px #8e4a11;
}   

.page2-homelistenbtn{
    /*start the button at the bottom of the page then i will move it up a little with transform*/
    align-self: flex-end;
    position: absolute;
    transform: translateY(-80px);
    /*font, colour, letter spacing, and outline text*/
    color: #ffffff;
    background: #8e4a11;
    letter-spacing: 1px;
    font-family: "Roboto Slab", sans-serif;
    font-size: 14px;
    /*some styling to make the button a pill shape*/
    padding: 0.5em 1em;
    margin: 0.25em;
    border-radius: 1.5em;
    /*transition for the hover effects later*/
    transition: 0.5s;
}

.page2-homelistenbtn:hover{
    letter-spacing: 1.5px;
    box-shadow: 0 0 10px #fcc95a,
                 0 0 20px #ffffff,
                 0 0 40px #fcc95a,
                 0 0 80px #ffffff;
    background: #fcc95a;
    color: #000000;
}
/*------------------------------------------------MAIN NEWS----------------------------------------------------------------*/

.news{
    /*i want the containers to be in a column format*/
    display: flex;
    flex-direction: column;
    /*make up for the header's space*/
    padding-top: 100px;
    background-color: #000000;
    /*change background image to something really dark for some personality*/
    background-image: url('../Images,%20Videos%20and%20Graphics/harrynewsbackground.jpg');
    /*repeat for below part of page*/
    background-repeat: repeat;
    /*center and make sure full picture can be seen*/
    background-position: center;
    background-size: cover;
}

.news-heading{
    /*put the heading in the center of page*/
    align-self: center;
    color: #ffffff;
    /*make it bigger*/
    font-size: 30px;
}

/*this is the small line below the heading*/
.news-divider{
    align-self: center;
    /*75% width of whole pg*/
    width:75vw;   
    height: 1px;
    background: #ffffff;
    /*spacing to make it look clean*/
    margin-top: 50px;
    margin-bottom: 25px;
}

.news-filtertext{
    font-size: 25px;
    color:#ffffff;
    /* put it in the middle of screen above buttons*/
    align-self: center;
    /*put some padding to spread out the button and the words*/
    padding-bottom: 20px;
}

.news-filter{
    display: flex;
    justify-content: center;
}

.fakebtn{
    font-family: "Archivo", sans-serif;
    color:#ffffff;
    border: 2px solid #ffffff;
    /*make pill shape*/
    padding: 0.5em 1em;
    margin: 0.25em;
    border-radius: 1.5em;
    /*so they know they can click on this*/
    cursor: pointer;
    transition: 0.3s;
}

/*change the colour when the fake button or the checkbox is pressed*/
.news-btn:checked + .fakebtn{
    background: #ffffff;
    color: #000000;
}

.news-filteralbumbtn:hover, .news-filtertourbtn:hover{
    color:#000000;
    background: #ffffff;

}

/*so they do not see the checkbox*/
.news-btn{
    display: none;
}

.news-wrapper{
    /*i want to have space between my elements (news containers)*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.news-container1{
    display: flex;
    justify-content: center;
    /*space it out from the previous article*/
    padding-top: 25px;
    padding-bottom: 25px;
    background: #000000;
    width: 63vw;
}


.news-image1{
    height: 45vh;
}

.news-content1{
    color: #ffffff;
    /*make it take up less space*/
    width: 30vw;
    /*ensure there is space between text and img*/
    padding-left: 20px;
    /*ensure there is space from top and sides of text box to the text*/
    padding-top: 10px;
    padding-right: 15px;
    /*same height as image*/
    max-height: 45vh;
}

/*content of news 1 excluding header*/
.news-content1 p, .news-content2 p{
    font-family: "Lato", sans-serif;
    /*separate the lines to make it cleaner looking*/
    line-height: 1.5;
}

.news-container2{
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background: #000000;
    width: 63vw;
}
.news-image2{
    /*opposite order because i want alternating side one picture one text*/
    order: 2;
    height: 45vh;
}

.news-content2{
    /*switch the order because i want alternating side one picture one text*/
    order: 1;
    color: #ffffff;
    width: 30vw;
    padding-right: 20px;
    /*ensure there is space from top and sidesof text box to the text*/
    padding-top: 10px;
    padding-left: 15px;
    /*limit max width so it does not expand too much if photo too large*/
    max-width: 70vw;
    /*same height as image*/
    max-height: 45vh;
}

.news-readmorebtncontainer{
    padding-top: 15px;
}

.news-readmorebtn{
    font-family: "Archivo Black", sans-serif;
    background: #000000;
    border: 2px solid #ffffff;
    color: #ffffff;
    /*spacing*/
    letter-spacing: 2px;
    padding: 0.7em 1em;
    margin: 0.25em;
    /*transition for hover animation*/
    transition: 0.5s;
}
.news-readmorebtn:hover{
    background: #ffffff;
    color: #000000;
}

/*------------------------------------------------MAIN TOUR----------------------------------------------------------------*/


.tour{
    max-width: 100vw;
    overflow-x: hidden;
    background: #ffffff;
    /*take into account the nav space*/
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*change background image to something really dark for some personality*/
    background-image: url('../Images,%20Videos%20and%20Graphics/harrytourbackground.jpg');
    /*repeat for below part of page*/
    background-repeat: repeat;
    /*center and make sure full picture can be seen*/
    background-position: center;
    background-size: cover;
}

.tour-heading{
    /*put the heading in the center of page*/
    align-self: center;
    color: #ffffff;
    /*make it bigger*/
    font-size: 30px;
}


.tour-divider{
    background: #ffffff;
    align-self: center;
    /*75% width of whole pg*/
    width:75vw;   
    height: 1px;
    /*spacing to make it look clean*/
    margin-top: 50px;
    margin-bottom: 25px;
}

.tour-sliderheading{
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    color: #ffffff;
}

.tour-sliderwrapper{
    position: relative;
    /*i am trying rem units in the hope that it will make it easier to be responsive*/
    max-width: 48rem;
    padding-bottom: 20px;
    
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 .tour-slider::-webkit-scrollbar {
    display: none;
 }
.tour-slider{
    display: flex;
    overflow-x: auto;
    /*to have like a snappy scroll effect but on the x axis (which is how the photos will be scrolled through, horizontally)*/
    scroll-snap-type: x mandatory;
    /*for nice effect*/
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 0.25);
    /*more softer edges on the slider*/
    border-radius: 0.5rem; 
    /*hide scrollbar again on different browsers*/
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    max-width: 75vw;
    max-height: 40vh;
}

.tour-slider img{
    /*make every image an equal size in the container*/
    flex-grow: 1;
    /*every image will keep the width they need*/
    flex-shrink: 0;
    /*initial size of 100%*/
    flex-basis: 100%;
    /*so the scroll will snap to each image*/
    scroll-snap-align: start;
    /*maintain aspect ratio even if change width*/
    object-fit: cover;
}

.tour-slidernav{
    display: flex;
    column-gap: 1rem;
    /*slider nav should stay in the same place*/
    position: absolute;
    bottom: 2rem;
    /*put it in the middle*/
    left: 50%;
    transform: translateX(-50%);
    /*ensure its on top of slider always*/
    z-index: 1;
}

.tour-slidernav a{
    width: 0.5rem;
    height: 0.5rem;
    /*make it a circle*/
    border-radius: 50%;
    background: #ffffff;
    opacity: 0.65;
    transition: opacity ease 0.25s;
}

/*hover effects to know which one is being selected*/
.tour-slidernav a:hover{
    opacity: 100%;
}

.tour-info{
    background: #b5a0cb;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.tour-info img{
    max-width: 50vw;
}

.tour-info h2{
    padding: 20px;
    color: #242424;
}

/* spacing */
table {
    table-layout: fixed;
    width: 60%;
    border-collapse: collapse;
}
  
/*give each header an equal amount of space*/
thead th:nth-child(1){
    width: 33%;
}
  
thead th:nth-child(2){
    width: 33%;
}
  
thead th:nth-child(3){
    width: 33%;
}
  
th, td {
    /*spread out the rows from one another (vertically)*/
    padding: 10px;
}
  
td{
    text-align: center;
    font-family: "Lato", sans-serif;
}

/*buy tickets buttons*/
.tour-buytickets{
    font-family: "Archivo Black", sans-serif;
    background:none;
    color: #242424;
    border: 2px solid #242424;
    /*spacing*/
    letter-spacing: 2px;
    padding: 0.5em 0.5em;
    margin: 0.25em;
    /*transition for hover animation*/
    transition: 0.5s;
}

.tour-buytickets:hover{
    background: #242424;
    color: #ffffff;
}

.tour-contactheading{
    /*space a little from the top table*/
    padding-top: 50px;
    color: #242424;
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
}

.tour-contactform{
    /*space from the text above*/
    margin-top: 40px;
    padding: 1rem;
    /*i want the elements to be in a column, downwards*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;
    width: 40vw;
    height: 40vh;
    background: #242424;
    border-radius: 20px;
    color: #ffffff;
}

.tour-contactform textarea{
    /*disable the resizer on the text area*/
    resize: none;
    
}

.tour-contactfield{
    font-family: "Lato", sans-serif;
    padding: 1rem 1.5rem;
    margin: 10px 0;
    border-radius: 4rem;
    width: 75%;
    border: none;
    box-sizing: 10px 10px;
}

.tour-contactbtn{
    transition: 0.3s;
}

.tour-contactbtn:hover{
    color:#b5a0cb;
}
/*------------------------------------------------MAIN ARTIST----------------------------------------------------------------*/
.artist{
    max-width: 100vw;
    overflow-x: hidden;
    background: #ffffff;
    /*take into account the nav space*/
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*change background image*/
    background-image: url('../Images,%20Videos%20and%20Graphics/harryartistbackground.jpg');
    /*repeat for below part of page*/
    background-repeat: repeat;
    /*center and make sure full picture can be seen*/
    background-position: center;
    background-size: cover;
}

.artist-heading{
    /*put the heading in the center of page*/
    align-self: center;
    color: #ffffff;
    /*make it bigger*/
    font-size: 30px;
}


.artist-divider{
    background: #ffffff;
    align-self: center;
    /*75% width of whole pg*/
    width:75vw;   
    height: 1px;
    /*spacing to make it look clean*/
    margin-top: 50px;
    margin-bottom: 25px;
}
.artist-intro{
    display: flex;
    /*the items should be side by side*/
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #000000;
    /*put some space around all the elements*/
    padding: 20px;
    border-radius: 2%;
}
.artist-intropicture{
    width:40%;
}
.artist-introtextcontainer{
    font-family: "Lato", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #ffffff;
    width: 35vw;
    height: 80%;
    padding-left: 20px;
}

.artist-timelineheading{
    color: #ffffff;
    padding-top: 50px;
}
.artist-timeline{
    display: flex;
    /*we want the album timeline to be a column*/
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 100vw;;
    margin: 100px auto;
}

.artist-timelinecontainer{
    padding: 30px 50px;
    position: relative;
    width: 50%;
    /*change opacity*/
    background: rgba(0, 0, 0, 0.25);
}

.artist-timelinetext{
    padding: 20px 30px;
    background: #0c0c0c;
    border: 1px solid #ffffff;
    color: #ffffff;
    position: relative;
    font-family: "Lato", sans-serif;
    line-height: 1.5;
    border-radius: 6px;
    font-size: 15px;
}

/*album cover art*/
.artist-timelinecontainer img{
    position: absolute;
    width: 70px;
    left: 0px;
    top: 32px;
    z-index: 10;
    border-radius: 50%;
}

/*add the timeline line with pseudo element*/
.artist-timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    /*take up full width of the timeline element*/
    height: 100%;
    background: #0c0c0c;
    border: 1px solid #ffffff;
    /*start at the absolute top of the timeline element and in the middle*/
    top: 0;
    left: 24%;
    margin-left: -3px;
    /*below all the album cover art*/
    z-index: 1;
    /*make an animation to make the line 
}

.artist-timelinetext small{
    /*make some space between the title and the paragraph*/
    display: inline-block;
    margin-bottom: 15px;
}


/*------------------------------------------------FOOTER----------------------------------------------------------------*/
footer{
    /*footer is not always at the same place, it depends on where content ends*/
    position: relative;
    width: 100%;
    bottom: 0;
    background:#1a1e2f;
    min-height: 200px;
    /*ensure all the social media icons and text are centered*/ 
    display: flex;
    justify-content: center;
    align-items: center;
    /*there will be 2 lists, one for social media icons and one for copyright, so for the copyright to be below the social media icons, a column is used to order the two lists*/
    flex-direction: column;
    /*use readable, clean font*/
    font-family: 'Lato', sans-serif;
    font-size: 10px;
}

.socialmedia{
    /*ensure all the social media icons and text are in a row*/ 
    display: flex;
    flex-direction: row;
}

.socialmedia a{
    /*space the icons out*/
    margin: 10px;
    transition: 0.5s;
    /*change display to block and not inline so that the whole icon can be moved up when hovered over*/
    display: block;
}

.socialmedia a:hover{
    /*make the icon go up a little when hovered over*/
    transform: translateY(-10px);
}

.copyright{
    /*make it a row and put it at the bottom*/
    display: flex;
    flex-direction: row;
    bottom: 0;
    /*ensure text stays on the same line*/
    white-space: nowrap;
    
}

.copyright a{
    /*make colour of text white*/
    color: #ffffff;
    margin: 10px;
}

/*------------------------------------------------@MEDIA----------------------------------------------------------------*/
/*use this class hideOnMobile to hide all the things you dont want to see after 1022px*/
@media(max-width: 1221px){
    .hideOnMobile{
        display: none;
    }
    .menubutton{
        display: block;
    }   
}

@media(max-width: 1080px){
    .news-container1, .news-container2{
        flex-direction: column;
    }
    .news-container1, .news-container2{
        align-items: center;
    }
    .news-imagecontainer{
        justify-content: center;
        overflow: hidden;
        width: 500px;
    }

    .news-content1, .news-content2{
        width: 500px;
    }

    .news-content2{
        order: 2;
    }
}
/*closer to tablet size screen*/
@media(max-width: 790px){
    .page2-hometext{
        transform:translateY(-22vh);
    }
    .page2-homelistenbtn{
        transform: translateY(-15vh);
    }
    .page2-hometext{
        font-size: 4vw;
    }
    .news-container1, .news-container2{
        width: 75vw;
    }
    .news-content1, .news-content2{
        font-size: 14px;
    }
    .tour-info td{
        font-size: 12px;
    }
    .tour-sliderwrapper{
        max-width: 38rem;
    }
    .tour-contactheading{
        font-size: 14px;
    }
    .artist-introtextcontainer{
        font-size: 15px;
    }
}

@media(max-width:650px){
    .page2-hometext{
        font-size: 5vw;
    }
    .news-content1, .news-content2{
        width: 350px;
    }
    .news-imagecontainer{
        width: 350px;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .tour-sliderwrapper{
        max-width: 28rem;
    }
    .tour-info td, .tour-info th{
        font-size: 10px;
    }
    .tour-slider img{
        object-fit: scale-down;
        align-self: center;
    }
    .timeline{
        margin: 50px auto;
    }
    .artist-intro{
        flex-direction: column;
    }
    .artist-introtextcontainer{
        /*since change from row to column, the picture is now on top and the padding has to be changed accordingly*/
        padding-top: 20px;
        padding-left: 0;
        width: 80vw;
    }
}

@media(max-width: 530px){
    .page2-homepicture{
        width: 75vw;
    }
    .page2-hometext{
        transform: translateY(-21vh);
    }
    .page2-homelistenbtn{
        transform:translateY(-12vh);
    }
    .news-content1, .news-content2{
        width: 300px;
    }
    .news-imagecontainer{
        width: 300px;
    }
    .copyright{
        flex-direction: column;
    }
    .tour-location{
        display: none;
    }
    .tour-contactform{
        width: 70vw;
        height: 50vh;
    }
    .tour-contactheading{
        font-size: 10px;
    }
    .artist-timelinecontainer{
        width: 80vw;
    }
    .artist-timeline::after{
        display: none;
    }
    .artist-intropicture{
        width: 80%;
    }
    .artist-timelinecontainer img{
        width: 50px;
    }
}

@media(max-width: 465px){
    .artist-timelinecontainer img{
        left: 6.5%;
    }
}
/*after 400px, make the sidebar the full screen*/
@media(max-width: 400px){   
    .sidebar{
        width: 100%
    }
    .hometextcontainer{
        top:20%;
    }
    .page2-hometext{
        transform: translateY(-27vh);
    }
    .page2-homelistenbtn{
        transform: translateY(-20vh);
    }
    .news-content1, .news-content2{
        width: 200px;
        font-size: 12px;
    }
    .news-imagecontainer{
        width: 200px;
    }
    .tour-contactheading{
        font-size: 8px;
    }
    .tour-infoheader{
        font-size: 20px;
    }
}

@media(max-width: 350px){
    .page2-hometext{
        transform:translateY(-30vh);
    }
    .page1-home image{
        align-self:flex-end;
    }
}
