*{
    /*space inside element between content and border*/
    padding: 0;
    /*space outside element between content and border*/
    margin: 0;
    /*removes the styling eg.bulletpoints on lists*/
    list-style: none;
    /*removes the text deco like underlines on links*/
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

/*------------------------------------------------BODY----------------------------------------------------------------*/
body{
    font-family: "Archivo Black", sans-serif;
    /*so that all the elements of body are in a column eg. nav, then main, then finally footer*/
    display: flex;
    flex-direction: column;
    /*minimum height of the body is the full viewport length, so that the absolute bottom of the page will be the footer*/
    min-height: 100vh;
}

/*customising scrollbar at the right side of the tab*/
body::-webkit-scrollbar{
    width: 5px;
}
body::-webkit-scrollbar-track{
    background: black;
}
body::-webkit-scrollbar-thumb{
    background: #6649b8
}
/*------------------------------------------------NAV----------------------------------------------------------------*/
nav{
    /*when the person scrolls down, the menu stays on top for easy access*/
    position:fixed;
    z-index: 1000;
    /*background colour of nav bar*/
    background: #1a1e2f;
    /*height of the nav bar*/
    height: 81px;
    /*full width of the page*/
    width: 100%;
    /*center the text*/
    text-align: center;
    box-shadow: 3px, 3px, 5px, rgb(34, 70, 178);
}

nav ul li{
    /*make everything appear on the same line, while being able to add spacing*/
    display: inline-block;
}

nav ul li a{
    /*change text colour to white*/
    color: #ffffff;
    /*change width to spread out the text*/
    width: 200px;
    /*change display mode so that the width of the whole anchor can be changed including padding*/
    display: block;
    /*add padding*/
    padding: 30px 20px;
    /*increase font size*/
    font-size: 20px;
    /*center the text so it is equal spacing*/
    text-align: center;
}

nav ul li a:hover{
    /*when hovered over, put a nice glow over the text. this works by using 6 shadows with increasing blur each time, making it seem like neon*/
    text-shadow: 0 0 10px #ffffff,
                 0 0 20px #ffffff,
                 0 0 40px #ffffff,
                 0 0 80px #ffffff,
                 0 0 120px #ffffff,
                 0 0 160px #ffffff;
    /*transition into the background colour for it to be smoother*/
    transition: 0.5s;
    /*increase letter spacing when hovered over for a cool effect*/
    letter-spacing: 3px;
    /*make the text go up a little when hovered over*/
    transform: translateY(-5px);
    
}

/*MOBILE RESPONSIVE DESIGN FOR THE NAVIGATION*/
.sidebar{
    min-height: 100%;
    /*ensures element is in the same place and does not move when scrolled down*/
    position: fixed;
    /*make sidebar at the top left*/
    top: 0;
    left: 0;
    width: 250px;
    /*determines the stacking property of elements, this sidebar will be on top everything else so it is 999*/
    z-index: 999;
    background-color: #1a1e2fa9;
    /*ensure it is a column*/
    display: none;
    flex-direction: column;
    /*position from top of page*/
    align-items: flex-start;
    justify-content: flex-start;
    /*apply blur filter to items behind the sidebar*/
    backdrop-filter: blur(10px);
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    text-align: left;
    width: 100%;
}

/*do not display hamburger menu on desktop because there is no need*/
.menubutton{
    display:none;
}

/*------------------------------------------------MAIN HOME----------------------------------------------------------------*/
main{
    background: #000000;
    flex-grow: 1;
    overflow: hidden;
}

.page1-home{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

/*this is the top image of harry styles*/
.page1-home img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page1-home .hometextcontainer{
    /*dont want position to change so it is absolute*/
    position: absolute;
    align-self: center;
    /*ensure the text stays on the same line*/
    white-space: nowrap;
}

.hometextcontainer h1{
    /*set nice effects and font size*/
    color: whitesmoke;
    font-size: 7vw;
    text-shadow: 0 0 10px #ffffff,
                 0 0 20px #ff00ff,
                 0 0 40px #7700b3,
                 0 0 80px #5500ff,
                 0 0 120px #ffffff;
}

/*video part of homepage*/
.page2-home{
    /*this video should be the lowest layer*/
    z-index: -1;
    /*put the video in the center of page*/
    display: flex;
    justify-content: center;
}

.page2-home video{
    min-height: 100vh;
}

.page2-homepicture{ 
    /*put in the middle of the video*/
    align-self: center;
    position: absolute;
    width: 350px;
    /*make sure it is on top*/
    z-index: 999;
}

.page2-hometext{
    color: #ffffff;
    position: absolute;
    align-self: flex-end;
    transform: translateY(-120px);
    font-size: 3vw;
    color: #fcc95a;
    letter-spacing: 1px;
    text-shadow: 2px 0 #8e4a11, -2px 0 #8e4a11,0 -2px #8e4a11, 1px 1px #8e4a11, -1px -1px #8e4a11, 1px -1px #8e4a11, -1px 1px #8e4a11;
}   

.page2-homelistenbtn{
    /*start the button at the bottom of the page then i will move it up a little with transform*/
    align-self: flex-end;
    position: absolute;
    transform: translateY(-80px);
    /*font, colour, letter spacing, and outline text*/
    color: #ffffff;
    background: #8e4a11;
    letter-spacing: 1px;
    font-family: "Roboto Slab", sans-serif;
    font-size: 14px;
    /*some styling to make the button a pill shape*/
    padding: 0.5em 1em;
    margin: 0.25em;
    border-radius: 1.5em;
    /*transition for the hover effects later*/
    transition: 0.5s;
}

.page2-homelistenbtn:hover{
    letter-spacing: 1.5px;
    box-shadow: 0 0 10px #fcc95a,
                 0 0 20px #ffffff,
                 0 0 40px #fcc95a,
                 0 0 80px #ffffff;
    background: #fcc95a;
    color: #000000;
}
/*------------------------------------------------FOOTER----------------------------------------------------------------*/
footer{
    /*footer is not always at the same place, it depends on where content ends*/
    position: relative;
    width: 100%;
    bottom: 0;
    background:#1a1e2f;
    min-height: 200px;
    /*ensure all the social media icons and text are centered*/ 
    display: flex;
    justify-content: center;
    align-items: center;
    /*there will be 2 lists, one for social media icons and one for copyright, so for the copyright to be below the social media icons, a column is used to order the two lists*/
    flex-direction: column;
    /*use readable, clean font*/
    font-family: 'Lato', sans-serif;
    font-size: 1vw;
}

.socialmedia{
    /*ensure all the social media icons and text are in a row*/ 
    display: flex;
    flex-direction: row;
}

.socialmedia a{
    /*space the icons out*/
    margin: 10px;
    transition: 0.5s;
    /*change display to block and not inline so that the whole icon can be moved up when hovered over*/
    display: block;
}

.socialmedia a:hover{
    /*make the icon go up a little when hovered over*/
    transform: translateY(-10px);
}

.copyright{
    /*make it a row and put it at the bottom*/
    display: flex;
    flex-direction: row;
    bottom: 0;
    /*ensure text stays on the same line*/
    white-space: nowrap;
    
}

.copyright a{
    /*make colour of text white*/
    color: #ffffff;
    margin: 10px;
}

/*------------------------------------------------@MEDIA----------------------------------------------------------------*/
/*use this class hideOnMobile to hide all the things you dont want to see after 1022px*/
@media(max-width: 1221px){
    .hideOnMobile{
        display: none;
    }
    .menubutton{
        display: block;
    }   
}
@media(max-width: 768px){
    .page2-hometext{
        transform:translateY(-22vh);
    }
    .page2-homelistenbtn{
        transform: translateY(-15vh);
    }
    .page2-hometext{
        font-size: 4vw;
    }
}
@media(max-width:650px){
    .page2-hometext{
        font-size: 5vw;
    }
}

@media(max-width: 500px){
    .page2-homepicture{
        width: 75vw;
    }
    .page2-hometext{
        transform: translateY(-21vh);
    }
    .page2-homelistenbtn{
        transform:translateY(-12vh);
    }
}
/*after 400px, make the sidebar the full screen*/
@media(max-width: 400px){   
    .sidebar{
        width: 100%
    }
    .hometextcontainer{
        top:20%;
    }
    .page2-hometext{
        transform: translateY(-27vh);
    }
    .page2-homelistenbtn{
        transform: translateY(-20vh);
    }
}

@media(max-width: 350px){
    .page2-hometext{
        transform:translateY(-30vh);
    }
    .page1-home image{
        align-self:flex-end;
    }
}
